body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

button {
    padding: 10px;
    border: none;
    margin: 10px;
}

.dark-theme {
    background-color: #333333;
    color: whitesmoke;
}

.light-theme {
    background-color: whitesmoke;
    color: #333333;
}
